body{
color:black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(27, 26, 41);
}

main{
background-color: rgb(206, 228, 228);
max-width: 900px;
width: 85%;
height: auto;
margin-left: auto;
margin-right: auto;
text-align: center;
padding: 20px;
}

#titulo{
font-size:45px;
padding-bottom: 7px;
}

ul,ol{
text-align: start;
font-size: 15px;
}


h2{
font-size: 25px;
}
h3{
    font-size: 20;
}

h5{
    font-size: 19px;
}
header h1{
background-color: rgb(236, 246, 255);
color:rgb(17, 0, 255);
text-align: center;

}

img{
width: 30%;
height: auto;
}
a{
padding: 45px;
color:rgb(147, 32, 170);
font-size: 19px;
}

.hobbies{
color:rgb(75, 19, 19);
}
.conquistas_objetivos{
color:rgb(155, 77, 22);
}
